.left {
    height: 60%;
    width: 10%;
    position: absolute;
    border: 2px black dashed;
    z-index: 0;
    top: 15%;
    left: 10%;
    text-align: center;
    background-color: White;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mid {
    height: 75%;
    width: 10%;
    position: absolute;
    z-index: 0;
    top: 20%;
    left: 20%;
    text-align: center;
    overflow-x: hidden;
}

.Allname {
    display: inline;
    border-style: double;
    border-width: 10px;
    padding: 5px;
    text-align: center;
    height: 20%;
    width: 40%;
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 5;
    background-color: Teal;
    overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    visibility: visible;
}

.site {
    height: 800px;
    width: 50%;
    position: absolute;
    display: block;
    border: 5px black dashed;
    z-index: 0;
    top: 10%;
    left: 30%;
    background-color: #ffd700;
    overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.safe {
    position: absolute;
    display: block;
    height: 20%;
    width: 20%;
    border: 2px white dashed;
    text-align: center;
    background-color: #add8e6;
}
.playerInfo {
    height: 10%;
    width: 70%;
    top: 30px;
    left: 30px;
    position: relative;
    border-radius: 15px;
    z-index: 1000;
    text-align: center;
    background-color: #ff1493;
    overflow-x: hidden;
    overflow-y: hidden;
}

.site_player {
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    text-align: center;
    z-index: 100;
}
.site img {
    height: 100px;
    width: 80px;
}
.Settlement {
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
    position: relative;
    z-index: 1000;
    border-style: double;
    border-width: 5px;
    border-color: red;
    text-align: center;
    background-color: Linen;
}
